.scoreboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 1rem;

  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
  background-color: var(--bg-color);
}
