@import "./theme.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Oswald:700&amp;amp;subset=latin-ext");

html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.player-name {
  width: 35%;
}

.stats {
  width: 20%;
}

.stat-splitter {
  height: 100%;
  width: 1px;
  background: white;
}

.between {
  justify-content: space-between;
}

.pad {
  padding: 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

body {
  height: 100%;
  margin: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.player {
  opacity: 0.9;
  color: white;


  &.ct {
    color: white;
    background: #3681c5;
  }

  &.t {
    color: white;
    background: #bf963a;
  }

  &:last-child{
    border-bottom: none;
  }
}


