@import "./theme.scss";

html, .App {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.scoreboard {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

body {
  height: 100%;
  margin: 0;
}

.loading-screen {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.player {
  opacity: 0.9;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;

  &.ct {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #3681c5;
  }

  &.t {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #bf963a;
  }
}

