:root {
  --ct-color: #3681c5;
  --t-color: #f0b412;
  --primary-color: #fbfbfb;
  --secondary-color: #929292;
  --bg-color: #2d3844;
  --white: #fff;
  --black: #000;

  --small-font-size: 0.75rem;
  --small-font-line-height: 1.4;
  --large-font-size: 1.875rem;
  --large-font-line-height: 1.6;
}
